// VARIABLES
$form-color: rgba(238 238 238 / 30%);
$main-text-color: #343a4f;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Roboto, sans-serif;
    color: $main-text-color;
    background-image: linear-gradient(rgba(238 238 238 / 60%), rgba(238 238 238 / 60%)), url("background-main.jpg");
    height: 100%;
}

.main {
    height: 100vh;
    margin: 0 auto;
}

// GENERAL
.container {
    margin: 0 auto;
    height: 100%;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}

// HOME PAGE (TEMPORARILY)
.link:link,
.link:visited {
    color: $main-text-color;
    text-decoration: none;
    font-size: 1.3rem;
}

.link:hover,
.link:active {
    text-decoration: underline;
}

.nav__title {
    font-size: 2.4rem;
}

.nav__list {
    gap: 1.6rem;
    list-style: none;
}

// ALL FORMS
.form__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 34rem;
    background-color: $form-color;
    box-shadow: 0 0 6px rgba(0 0 0 / 14%);
    border-radius: 1.2rem;
    padding: 3rem 3rem 2rem;
    gap: 3rem;
}

.form__title {
    font-size: 2rem;
    font-weight: 500;
    color: $main-text-color;
}

.form__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.4rem;
    padding-top: 3rem;
}