nav.nav.container.flex-center
    h1.nav__title Welcome to app
    ul.nav__list.flex-center 
        li: a.link(href='/signin') Sign in
        li: a.link(href='/signup') Sign up
        li: a.link(href='/page404') Page 404
        li: a.link(href='/page500') Page 500
        li: a.link(href='/user') Profile
        li: a.link(href='/edituser') Edit profile
        li: a.link(href='/chats') Chats
